/ik-web-frontend.iml
/bower_components
**/.idea
/node_modules
/src
.tmp/*
.project
!.tmp/empty
/yarn.lock
/coverage/
/target/
mock/node_modules
test/gui/logs
/backendMock/node_modules/
guiTests/logs
/devbuild/
/build/
/guiTests/logs/
/devToolbox/$httpMocker/node_modules/
/devToolbox/testhelpers/node_modules/
guiTests/log.html
guiTests/output.xml
guiTests/report.html
source/.nyc_output
package-lock.json
source/.nyc_output
/elm-stuff
/repl-temp-*
/.settings
/.classpath